body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Arial, serif;
    color: black;
}

header {
    position: relative;
    background-color: #b2dad4;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    display: flex;
}

.header_head {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}

.head_logo {
    display: flex;
    width: 100vw;
    backdrop-filter: blur(10px);
    align-items: center;
    background: rgba(7, 0, 0, 0.11);

}

.head_logo > img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    padding-left: 24px;
}

.logo_text, .stomText {
    margin: 0;
}

.head_logo_text {
    /*flex-direction: column;*/
}

.menu_tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
    font-size: 3vw;
    /*font-weight: bold;*/
}

.menu_tags > .active:hover {
    background-color: gray;
    border-radius: 8px;

}

.menu_tags li {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px 0;
    border-radius: 8px;
    white-space: nowrap;
}

.menu_tags li > a, .menu_tags li > span {
    padding: 10px 10px;
    cursor: pointer;
    background-color: gray;
    /*white-space: nowrap;*/
    border-radius: 8px;
}


.menu_tags li:hover {
    transform: scale(1.02);
    background-color: white;
    user-select: none;
}

.menu_tags li:active {
    transform: scale(1.02);
    background-color: white;
}

.menu_tags li.active:hover {
    transform: none;
}

.menu_tags li.active .tag_link {
    font-weight: bold;
    color: white;
    background-color: rgb(60, 60, 60);
    cursor: default;
    pointer-events: none;
}

.menu_tags li:not(.active) .tag_link:hover {
    background-color: white;
    transform: scale(1.02);
}

.main_page_articles {
    padding: 0 20px;
    font-size: 2.8vw;
}

.stom_art {
    padding-top: 10px;
    display: flex;
    align-self: start;
}

.article_preview {
    margin: 20px 0;
    padding: 10px 20px 10px 20px;
    background-color: #b2dad4;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.img {
    display: flex;
    width: 40vw;
    height: auto;
    /*justify-self: start;*/
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 20px;
}

.stom_art {
    display: flex;
    justify-self: center;
    padding-bottom: 10px;
}

.article_flex {
    display: flex;
}

.bottom {
    display: flex;
    flex-direction: row;
    background-color: #b2dad4;
    margin-top: 40px;
}

.footer_logo {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0 20px;
}

.footer_logo_text {
    font-size: 12px;
    font-weight: bold;
    margin-left: 40px;
}

.link_footerToHead {
    scroll-behavior: smooth;
    display: flex;
}

.footer_arrow {
    width: 40px;
    height: 60px;
    flex-grow: 1;
    padding-right: 40px;
    align-self: center;
}

.article_flex {
    text-align: justify;
}


@media (min-width: 768px) and ( max-width: 1024px) {
    .head_logo {
        padding: 0;
    }

    .menu_tags {
        font-size: 2vw;
        margin-left: 30px;
    }

    .article_preview {
        font-size: 20px;
        margin: 120px 40px;
        padding: 20px 40px 40px 40px;
    }

    .img {
        width: 30vw;
        margin-top: 25px;
        margin-right: 0;
        padding-right: 0;

    }

    .article_flex {
        display: flex;
        gap: 4vw;
        font-size: 2vw;
        margin-right: 20px;
    }

    .article_innerFlex {
        text-align: justify;
    }

    .footer_logo {
        padding-left: 40px;
    }
.footer_logo_text {
    font-size: 14px;
}

    .footer_arrow {
        padding-right: 60px;
    }
}

@media (min-width: 1025px) {
    .menu_tags {
        font-size: 20px;
    }

    .article_preview {
        font-size: 20px;
        margin: 120px 60px 100px 60px;
        padding: 20px 60px 40px 60px;
    }

    .img {
        width: 30vw;
    }

    .article_flex {
        display: flex;
        gap: 4vw;
        font-size: 2vw;
    }

    .article_innerFlex {
        text-align: justify;
    }

    .link_footerToHead {
        margin-right: 40px;
    }

}