body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Arial, serif;
    color: black;
}

header {
    position: relative;
    /*z-index: 2;*/
    background-color: #b2dad4;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    /*padding: 12px 24px;*/
    display: flex;
}

.header_head {
    display: flex;
    flex-wrap: wrap;
    /*gap: 10px;*/
}

a {
    text-decoration: none;
    color: black;
}

.head_logo {
    display: flex;
    height: 100px;
    width: 100vw;
    backdrop-filter: blur(10px);
    align-items: center;
    background: rgba(7, 0, 0, 0.11);

}

.head_logo > img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    padding-left: 24px;
}

.logo_text, .stomText {
    margin: 0;
}

.head_logo_text {
    /*flex-direction: column;*/
}

.menu_tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px 0 24px;
    font-size: 18px;
}

.menu_tags li {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px 10px;
    cursor: pointer;
    background-color: gray;
    border-radius: 8px;
    white-space: nowrap;

}

.main_page_articles {
    padding: 0 40px 0 40px;
    font-size: 10px;
}


.bottom {
    display: flex;
    flex-direction: row;
    background-color: #b2dad4;
    width: 100vw;
}

.footer_logo {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 12px 24px;
}

.footer_logo_text{
    font-size: 15px;
    padding-left: 40px;
}

.link_footerToHead {
    scroll-behavior: smooth;
    display: flex;
}
.footer_arrow {
    width: 40px;
    height: 60px;
    flex-grow: 1;
    padding-right: 40px;
    align-self: center;
}

