body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Arial, serif;
    color: black;
    box-sizing: border-box;
}

ol, ul {
    padding-left: 30px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

header {
    position: relative;
    background-color: #b2dad4;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    display: flex;
}

.header_head {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}

.head_logo {
    display: flex;
    width: 100vw;
    backdrop-filter: blur(10px);
    align-items: center;
    background: rgba(7, 0, 0, 0.11);

}

a.head_logo > img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    padding-left: 24px;
}

.logo_text, .stomText {
    margin: 0;
}

.menu_tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    font-size: 3vw;
    /*font-weight: bold;*/
}

.menu_tags > .active:hover {
    background-color: gray;
    border-radius: 8px;

}

.menu_tags li {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px 0;
    border-radius: 8px;
    white-space: nowrap;
}

.menu_tags li > a, .menu_tags li > span {
    padding: 10px 10px;
    cursor: pointer;
    background-color: gray;
    /*white-space: nowrap;*/
    border-radius: 8px;
}


.menu_tags li:hover {
    transform: scale(1.02);
    background-color: white;
    user-select: none;
}

.menu_tags li:active {
    transform: scale(1.02);
    background-color: white;
}

.menu_tags li.active:hover {
    transform: none;
}

.menu_tags li.active .tag_link {
    font-weight: bold;
    color: white;
    background-color: rgb(60, 60, 60);
    cursor: default;
    pointer-events: none;
}

.menu_tags li:not(.active) .tag_link:hover {
    background-color: white;
    transform: scale(1.02);
}

.main_page_articles {
    padding: 0 30px;
    font-size: 3vw;
}

.stom_art {
    padding-top: 20px;
    display: flex;
    align-self: start;
    justify-self: center;
}

.article_preview {
    margin: 40px 0;
    padding: 20px;
    background-color: #b2dad4;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.article_content {
    display: inline-block;
}

.article_content > p {
    margin-top: 0;
}

.article_content > img {
    margin-right: 20px;
}

img.imgMain {
    float: left;
    /*margin-bottom: 10px;*/
    width: 40vw;
    height: auto;
    border-radius: 8px;
    margin: 10px 10px 0 0;
}

.img {
    float: left;
    width: 40vw;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.bottom {
    display: flex;
    flex-direction: row;
    background-color: #b2dad4;
    margin-top: 40px;
}

.footer_logo {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0 30px;
}

.footer_logo_text {
    font-size: 12px;
    font-weight: bold;
    margin-left: 40px;
}

.link_footerToHead {
    scroll-behavior: smooth;
    display: flex;
}

.footer_arrow {
    width: 40px;
    height: 60px;
    flex-grow: 1;
    padding-right: 40px;
    align-self: center;
}


.article {
    margin: 20px 20px;
}


@media (min-width: 768px) and ( max-width: 1024px) {
    .head_logo {
        padding-left: 40px;
    }

    .menu_tags {
        font-size: 3vw;
        margin-left: 40px;
    }

    .main_page_articles {
        padding: 0 30px;
        font-size: 3.5vw;
    }

    .article_preview {
        font-size: 25px;
        margin: 80px 40px;
        padding: 40px;
        display: inline-block;
    }

    .img {
        float: left;
        width: 40vw;
        margin: 0 30px 0 0;

    }

    .imgMain {
        margin: 20px 20px 0 0;
    }

    .article_innerFlex {
        text-align: justify;
    }

    .footer_logo {
        padding-left: 70px;
    }

    .footer_logo_text {
        font-size: 14px;
    }

    .footer_arrow {
        padding-right: 80px;
    }

    .article {
        margin: 40px 60px;
    }
}

@media (min-width: 1025px) {
    .head_logo {
        padding-left: 16vw;
    }

    .menu_tags {
        font-size: 20px;
        margin-left: 15vw;
        margin-right: 80px;
    }

    .stom_art {
        font-size: 40px;
        margin-bottom: 0;
    }

    .article_preview {
        font-size: 20px;
        margin: 100px 15vw;
        padding: 60px;
        display: inline-block;
    }

    .img {
        width: 30vw;
        margin: 20px 20px 0 0;
    }

    .article_innerFlex {
        text-align: justify;
    }

    .footer_logo {
        padding-left: 17vw;
    }

    .footer_logo_text {
        font-size: 16px;
    }

    .link_footerToHead {
        margin-right: 14vw;
    }

    .article {
        margin: 40px 15vw;
        font-size: 18px;
    }
}