* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Arial, serif;
    color: black;
}

h1 {
    margin: 0;
    width: fit-content;
    font-size: clamp(20px, 2vw, 30px);
}

p {
    font-size: clamp(16px, 1.5vw, 25px);
}

.header_head {
    display: flex;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #b2dad4;
}

a {
    text-decoration: none;
    color: black;
}

.burger_button {
    width: 50px;
    height: 50px;
    padding: 15px 10px 15px 10px;
    /*margin: 20px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*justify-content: center;*/
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.burger_button:hover {
    background-color: rgba(128, 128, 128, 0.11);
    border-radius: 100%;
}

.burger_button span {
    display: block;
    height: 2px;
    width: 30px;
    background-color: black;
    border-radius: 8px;
    transition: 0.3s;
}

.burger_button.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}
.burger_button.active span:nth-child(2) {
    opacity: 0;
}
.burger_button.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.head_logo {
    display: flex;
    align-items: center;
}

.head_logo > a {
    width: 60px;
    height: 60px;
    margin: 0 10px;
}

.header_main_logo {
    width: 60px;
    height: 60px;
    padding: 5px 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -500px;
    min-height: 100vh;
    width: fit-content;
    background-color: #b2dad4;
    padding: 20px;
    transition: left 0.5s ease;
    /*z-index: 100;*/
}

.sidebar.active {
    left: 0;
}

.sidebar_header {
    margin-bottom: 10px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
}

.menu_tags {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: clamp(14px, 1.5vw, 20px);
}

.menu_tags li {
    border-radius: 8px;
    margin-bottom: 5px;
}

.menu_tags li > a {
    display: block;
    padding: 10px 10px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;

}

.menu_tags li> a:hover {
    transform: scale(1.02);
    background-color: rgba(128, 128, 128, 0.48);
}

.menu_tags li> a.active {
    font-weight: bold;
    color: #ffffff;
    cursor: default;
    background-color: rgba(89, 188, 174, 0.66);
}

.menu_tags li> a.active:hover {
    transform: scale(1.02);
    background-color: rgba(128, 128, 128, 0.48);
}



.main_page_articles {
    font-size: clamp(14px, 1.5vw, 20px);
}

.stom_art {
    padding-top: 20px;
    display: flex;
    align-self: start;
    justify-self: center;
}

.article_preview {
    margin: 40px 0;
    padding: 20px;
    background-color: #b2dad4;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.article_content {
    display: inline-block;
    width: 100%;
}

.article_content > p {
    margin-top: 0;
}

.article_content > img {
    margin-right: 20px;
}

img.imgMain {
    float: left;
    /*margin-bottom: 10px;*/
    width: 40vw;
    height: auto;
    border-radius: 8px;
    margin: 10px 10px 0 0;
}

.img {
    float: left;
    width: 40vw;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
    /*margin-bottom: 20px;*/
}

.bottom {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #b2dad4;
    margin-top: 40px;
}

.footer_logo {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0 30px;
}

.footer_logo_text {
    font-size: 12px;
    font-weight: bold;
    margin-left: 40px;
}

.link_footerToHead {
    scroll-behavior: smooth;
    display: flex;
}

.footer_arrow {
    width: 40px;
    height: 60px;
    flex-grow: 1;
    padding-right: 40px;
    align-self: center;
}


.article {
    margin: 20px 20px;
}


@media (min-width: 768px) and ( max-width: 1024px) {
    .head_logo {
        /*padding-left: 40px;*/
    }

    .menu_tags {
        /*font-size: 3vw;*/
    }

    .main_page_articles {
        padding: 0 30px;
        font-size: 3.5vw;
    }

    .article_preview {
        font-size: 25px;
        margin: 80px 40px;
        padding: 40px;
        display: inline-block;
    }

    .img {
        float: left;
        width: 40vw;
        margin: 0 30px 0 0;

    }

    img.imgMain {
        margin: 30px 30px 0 0;
    }

    .article_innerFlex {
        text-align: justify;
    }

    .footer_logo {
        padding-left: 70px;
    }

    .footer_logo_text {
        font-size: 14px;
    }

    .footer_arrow {
        padding-right: 80px;
    }

    .article {
        margin: 40px 60px;
    }
}

@media (min-width: 1025px) {
    .head_logo {
        /*padding-left: 16vw;*/
    }

    .menu_tags {
        /*font-size: 20px;*/
    }

    .stom_art {
        font-size: 40px;
        margin-bottom: 0;
    }

    .article_preview {
        font-size: 20px;
        margin: 100px 15vw;
        padding: 60px;
        display: inline-block;
    }

    .img {
        width: 30vw;
        margin: 0 20px 0 0;
    }

    img.imgMain {
        width: 30vw;
        margin: 30px 30px 20px 0;
    }

    .article_innerFlex {
        text-align: justify;
    }

    .footer_logo {
        padding-left: 17vw;
    }

    .footer_logo_text {
        font-size: 16px;
    }

    .link_footerToHead {
        margin-right: 14vw;
    }

    .article {
        margin: 40px 15vw;
        font-size: 18px;
    }
}
@media (min-width: 1440px) {
    .img {
        width: 20vw;
        margin: 0 20px 20px 0;
    }
}