<footer>
    <section class="bottom">
        <div class="footer_logo">
            <img class="footer_img" src="/images/main-tooth.svg" alt="">
            <div class="footer_logo_text">
                <p class="footer_name">Анна Смирнова</p>
                <p class="footer_blog">Блог практикующего врача-стоматолога</p>
            </div>
        </div>
        <a href="" class="link_footerToHead">
            <img src="/images/arrow_footer.svg" class="footer_arrow" alt="стрелка, возвращающая наверх">
        </a>
    </section>


</footer>