<header class="header_head">
    <button class="burger_button" type="button" aria-label="Открыть меню">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div class="head_logo" id="head_logo">
        <a href="./">
            <img src="/images/main-tooth.svg"
            class="header_main_logo"
            alt="Логотип сайта стоматологических статей - ЛечилРФ">
        </a>
        <div class="head_logo_text">
            <p class="logo_text">ЛечилРФ</p>
            <p class="stomText">Стоматологический блог</p>
        </div>
    </div>
</header>