<aside class="sidebar">
    <header class="sidebar_header">
        <h1 class="aside_menu">Меню</h1>
    </header>

    <nav class="menu">
        <ul class="menu_tags">
            <li class="{{ 'active' if activeTag == 'all' }}">
              <a href="/" class="tag_link">Все статьи</a>
            </li>

            <li class="{{ 'active' if activeTag == 'pulpitis' }}">
              <a href="pulpitis.html" class="tag_link">Пульпит</a>
            </li>

            <li class="{{ 'active' if activeTag == 'modern_vs_ussr' }}">
              <a href="modern_vs_ussr.html" class="tag_link">Современные возможности</a>
            </li>

            <li class="{{ 'active' if activeTag == 'therapeutic_stom' }}">
              <a href="therapeutic_stom.html" class="tag_link">Терапевтическая стоматология</a>
            </li>
            <li class="{{ 'active' if activeTag == 'prosthetics' }}">
              <a href="prosthetics.html" class="tag_link">Протезирование</a>
            </li>
            <li class="{{ 'active' if activeTag == 'orthodontics' }}">
              <a href="orthodontics.html" class="tag_link">Ортодонтия</a>
            </li>
            <li class="{{ 'active' if activeTag == 'periodontology' }}">
              <a href="periodontology.html" class="tag_link">Пародонтология</a>
            </li>
            <li class="{{ 'active' if activeTag == 'tooth_extraction' }}">
              <a href="tooth_extraction.html" class="tag_link">Удаление зубов</a>
            </li>
            <li class="{{ 'active' if activeTag == 'implantation' }}">
              <a href="implantation.html" class="tag_link">Имплантация</a>
            </li>
            <li class="{{ 'active' if activeTag == 'failed_implantation' }}">
              <a href="failed_implantation.html" class="tag_link">Неудачная имплантация</a>
            </li>
            <li class="{{ 'active' if activeTag == 'diagnostic_methods' }}">
              <a href="diagnostic_methods.html" class="tag_link">Методы диагностики</a>
            </li>
        </ul>
    </nav>
</aside>