* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Arial, serif;
    color: black;
}

h1 {
    margin-bottom: 20px;
    width: fit-content;
    font-size: clamp(20px, 3vw, 40px);
}

h2, h3 {
    margin: 20px 0;
    font-size: clamp(16px, 2.5vw, 30px);
}

p, li {
    font-size: clamp(14px, 2vw, 25px);
}

.article p {
    margin-bottom: 20px;
}

ul, ol {
    list-style-position: inside;
}

hr {
    margin: 30px 0;
    clear: both;
}

li::marker {
    margin-left: 50px;
}

.header_head {
    display: flex;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #b2dad4;
}

a {
    text-decoration: none;
    color: black;
}

.burger_button {
    width: 50px;
    height: 50px;
    padding: 15px 10px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
}


.burger_button:hover {
    background-color: rgba(128, 128, 128, 0.11);
    border-radius: 100%;
}

.burger_button span {
    position: absolute;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: black;
    border-radius: 8px;
    transition: 0.3s;
}

.burger_button span:nth-child(1) {
    top: 15px;
}

.burger_button span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger_button span:nth-child(3) {
    bottom: 15px;
}

.burger_button.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.burger_button.active span:nth-child(2) {
    opacity: 0;
}

.burger_button.active span:nth-child(3) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.head_logo {
    display: flex;
    align-items: center;
}

.head_logo > a {
    width: clamp(30px, 4vw, 60px);
    height: auto;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.header_main_logo {
    width: clamp(30px, 4vw, 60px);
    padding: 5px 0;
}

.stomText {
    font-size: clamp(12px, 1.6vw, 25px);
}

.sidebar {
    position: fixed;
    top: 0;
    left: -500px;
    min-height: 100vh;
    width: fit-content;
    background-color: #b2dad4;
    padding: 20px;
    transition: left 0.5s ease;
    /*z-index: 100;*/
}

.sidebar.active {
    left: 0;
}

.sidebar_header {
    margin-bottom: 10px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
}

.menu_tags {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: clamp(14px, 1.5vw, 20px);
}

.menu_tags li {
    border-radius: 8px;
    margin-bottom: 5px;
}

.menu_tags li > a {
    display: block;
    padding: 10px 10px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;

}

.menu_tags li > a:hover {
    transform: scale(1.02);
    background-color: rgba(128, 128, 128, 0.48);
}

.menu_tags li > a.active {
    font-weight: bold;
    color: #ffffff;
    cursor: default;
    background-color: rgba(89, 188, 174, 0.66);
}

.menu_tags li > a.active:hover {
    transform: scale(1.02);
    background-color: rgba(128, 128, 128, 0.48);
}


.main_page_articles {
    padding: 0 clamp(20px, 8vw, 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stom_art {
    padding-top: 40px;
}

.article_preview {
    margin: 40px 0;
    padding: 20px;
    background-color: #b2dad4;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    max-width: 400px;
}

.article_preview p {
    margin-top: 20px;
}


.article_content {
    display: inline-block;
    width: 100%;
}

.article_content > p {
    margin-top: 0;
}

img.imgMain {
    float: left;
    /*margin-bottom: 10px;*/
    width: clamp(120px, 35%, 300px);
    height: auto;
    border-radius: 8px;
    margin: 10px 10px 0 0;
}

.img {
    float: left;
    width: clamp(80px, 40%, 300px);
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.bottom {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #b2dad4;
    /*margin-top: 20px;*/
}

.footer_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    padding: 0 0 0 clamp(20px, 8vw, 100px);
}

.footer_img {
    width: clamp(30px, 2vw, 80px);
    height: 50px;
}

.footer_logo_text p {
    font-size: clamp(12px, 2vw, 16px);
    /*font-weight: bold;*/
    padding: 5px 10px 0 10px;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

.link_footerToHead {
    scroll-behavior: smooth;
    display: flex;
}

.footer_arrow {
    height: 40px;
    flex-grow: 1;
    padding-right: clamp(20px, 8vw, 100px);
    align-self: center;
}


.article {
    margin: 40px 0;
}

@media (min-width: 768px) {
    .head_logo {
        /*padding-left: 40px;*/
    }

    .burger_button {
        margin-left: 20px;
    }

    .menu_tags {
        /*font-size: 3vw;*/
    }

    .main_page_articles {
        padding: 0 clamp(100px, 18vw, 200px);
    }

    .article_preview {
        margin: 40px 0;
        padding: 40px;
        display: inline-block;
        max-width: 600px;
    }

    .img {
        float: left;
        width: clamp(80px, 40%, 300px);
        /*margin: 0 20px 0 0;*/

    }

    img.imgMain {
        margin: 20px 20px 0 0;
    }

    .article_innerFlex {
        text-align: justify;
    }

    .footer_logo {
        padding: 0 0 0 clamp(60px, 18vw, 200px);
    }

    .footer_arrow {
        padding-right: clamp(60px, 18vw, 200px);
    }

    .article {
        /*margin: 40px 60px;*/
    }
}

@media (min-width: 900px) {

    .main_page_articles {
        padding: 0 clamp(200px, 16vw, 300px);
    }

    .img {
        float: left;
        width: clamp(80px, 40%, 300px);
        margin: 0 30px 0 0;

    }

    img.imgMain {
        margin: 20px 20px 0 0;
    }

    .article_innerFlex {
        text-align: justify;
    }

    .footer_logo {
        padding-left: clamp(200px, 16vw, 300px);
    }

    .footer_logo_text {
        font-size: 14px;
    }

    .footer_arrow {
        padding-right: clamp(200px, 16vw, 300px);
    }
}

@media (min-width: 1024px) {
    .head_logo {
        padding-left: 20px;
    }

    .sidebar {
        left: 0;
        transition: none;
    }

    .sidebar.active {
        left: 0;
    }

    .burger_button {
        display: none;
    }

    .main_page_articles {
        padding: 0 clamp(100px, 12vw, 300px) 0 clamp(300px, 37vw, 500px);
    }


    .img {
        width: clamp(80px, 40%, 350px);
        margin: 0 20px 0 0;
    }

    .article_preview {
        margin: 60px 0;
        padding: 40px;
        max-width: 700px;
    }

    .article_innerFlex {
        text-align: justify;
    }

    .footer_logo {
        padding: 0 0 0 clamp(300px, 37vw, 500px);
    }


    .footer_arrow {
        padding-right: clamp(100px, 12vw, 300px);
        width: auto;

    }

    .article {
        margin: 40px 0 40px 20px;
    }
}

@media (min-width: 1440px) {
    .menu_tags {
        font-size: clamp(14px, 1.5vw, 30px);
    }

    .main_page_articles {
        padding: 0 clamp(200px, 15%, 600px) 0 clamp(300px, 40%, 800px);
    }

    .article_preview {
        margin: 80px 0;
        padding: 40px;
        max-width: 900px;
    }

    .img {
        width: clamp(80px, 40%, 350px);
        margin: 0 20px 20px 0;
    }

    .footer_logo {
        padding: 0 0 0 clamp(300px, 40%, 800px);
    }

    .footer_arrow {
        padding: 0;
    }

    .link_footerToHead {
        padding: 0 clamp(200px, 15%, 600px) 0 0;
    }
}

@media (min-width: 1920px) {
    h1 {
        font-size: clamp(30px, 2.5vw, 50px);
    }

    p, li {
        font-size: clamp(25px, 1.8vw, 35px);
    }


    .head_logo > a {
        width: 100px;
        height: 100px;
        margin: 20px;
    }

    .header_main_logo {
        width: 100px;
        height: 100px;
        padding: 0;
    }

    .stomText {
        font-size: clamp(20px, 2vw, 30px);
    }

    .sidebar {
        padding: 30px
    }

    .sidebar_header {
        margin-bottom: 30px;
        font-size: clamp(40px, 2.5vw, 60px);
    }

    .menu_tags {
        font-size: clamp(30px, 1.8vw, 40px);
    }

    .main_page_articles {
        padding: 0 clamp(200px, 12%, 600px) 0 clamp(300px, 40%, 800px);
    }

    .article_preview {
        margin: 100px 0;
        padding: 80px;
        max-width: 1000px;
        display: flex;
        justify-self: center;
    }

    .stom_art {
        padding-top: clamp(60px, 4vw, 150px);
    }

    img.imgMain {
        margin: 40px 40px 0 0;
        width: clamp(120px, 40%, 300px);
    }

    .footer_logo {
        padding-left: clamp(300px, 40%, 800px);
    }

    .footer_img {
        width: 60px;
        height: 60px;
        /*margin: 20px;*/
    }

    .footer_logo_text {
        margin: 15px 0;
        font-size: 18px;
    }

    .footer_logo_text p {
        font-size: 18px;
    }

    .link_footerToHead {
        padding-right: clamp(200px, 12%, 600px);
    }

    .footer_arrow {
        height: 60px;
    }

}